@font-face {
    font-family: 'pixellari';
    src: url('fonts/pixellari/Pixellari.ttf');
}
* {
    padding: 0%;
    margin: 0%;
    color: white;
    font-family: 'pixellari', cursive;
    font-weight: normal;
}
body {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

header {
    font-size: 3.5vw;
    width: 100%;
    min-height: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-bottom: 0.3vw solid rgb(43, 43, 43);
}
#information {
    box-sizing: border-box;
    position: absolute;
    top: 4vw;
    width: 80%;
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 10%;
    z-index: 99;
    background-color: rgb(27, 27, 27);
    border: 0.8vw solid grey;
    padding: 4%;
    padding-top: 0%;
}
#information h1 {
    margin-top: 3vw;
    font-size: 4.5vw;
}
#information p {
    font-size: 3vw;
}
#information span {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: fixed;
    font-size: 7vw;
    width: 7vw;
    height: 7vw;
    background-color: black;
    border: 0.5vw solid white;
    border-radius: 50%;
    top: 11vw;
    right: 7vw;
    z-index: 999;
    padding-top: 0.8vw;
}
#body {
    width: 100%;
    height: 91.5vh;
    display: flex;
    flex-direction: column;
}

#body .wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#body .game {
    position: relative;
    background-color: rgb(32, 32, 32);
    width: 100%;
    min-height: 73vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
#body .game span:nth-child(1) {
    box-sizing: border-box;
    display: none;
    position: absolute;
    top: 0%;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    width: 100%;
    height: 10vw;
    font-size: 3.5vw;
}
#body .game span:nth-child(1) img {
    box-sizing: border-box;
    height: 10vw;
    width: 10vw;
    padding: 2vw;
}

#body .game .display {
    height: 73vw;
}

#body .game .btnWraper {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    bottom: 5%;
    padding-left: 1%;
    padding-right: 1%;
}
#body .btn {
    width: 12vw;
    height: 12vw;
    margin-top: 4vw;
    flex-direction: column;
    transition: 0.5s;
}
#body .btn img {
    box-sizing: border-box;
    width: 12vw;
    height: 12vw;
    transition: 0.5s;
    border: 1vw solid white;
    background-color: black;
    border-radius: 25%;
    padding: 0.6vw;
}
#body .btn h2 {
    opacity: 0;
    transition: 0.5s;
    font-size: 4.5vw;
    color: white;
}
#body .game .enemy .enemyHP {
    overflow: hidden;
    background-color: red;
    border: 0.8vw solid white;
    border-radius: 2vw;
    width: 40%;
    height: 3vw;
    margin-bottom: 1vw;
    box-sizing: border-box;
}
#body .game .enemy .enemyHP .bar {
    background-color: lime;
    width: 100%;
    height: 100.5%;
    border-radius: 1vw;
    transition: 0.5s;
}
#body .game .enemy {
    display: none;
    flex-direction: column;
    position: absolute;
    align-items: center;
    width: 100%;
    top: 15vw;
}
#body .game .enemy .monster {
    max-width: 40%;
}

#left,
#console,
#right {
    width: 100%;
    height: 100%;
    max-height: 100%;
}

#left {
    display: none;
    overflow: auto;
}
#left nav {
    display: none;
    box-sizing: border-box;
    padding: 1% 10%;
    overflow: auto;
}
#left nav h1 {
    font-size: 6.5vw;
    text-align: center;
}
#left nav h4 {
    font-size: 4.5vw;
    margin-top: 2vw;
}
#left nav .about,
#left nav .credit {
    text-decoration: none;
    font-size: 4.5vw;
    padding-top: 9vw;
}
#left nav p {
    margin-top: 2vw;
    margin-left: 5vw;
    font-size: 3.5vw;
}
#left nav ul {
    margin-top: 2vw;
    margin-left: 10vw;
    font-size: 3.5vw;
}

#left .equipment {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vw;
}
#left .equipment img {
    width: 12vw;
    height: 12vw;
    border: 0.8vw solid white;
    border-radius: 25%;
}
#left .equipment h2 {
    font-size: 3.5vw;
    margin-top: 1vw;
}
#left .equipment .item {
    width: 14vw;
    height: 14vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#left .equipment .weapon {
    width: 25vw;
    height: 26vw;
}
#left .equipment .weapon img {
    width: 25vw;
    height: 25vw;
    border: 0.8vw solid white;
    border-radius: 25%;
}
#left .equipment .head {
    top: 13%;
    left: 13%;
}
#left .equipment .body {
    bottom: 13%;
    left: 13%;
}
#left .equipment .gloves {
    bottom: 13%;
    right: 13%;
}
#left .equipment .boots {
    top: 13%;
    right: 13%;
}

#console {
    width: 100%;
    height: 100%;
    display: none;
    overflow: auto;
    flex-direction: column;
}
#console .home {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vw;
}
#console .home button {
    font-size: 3.5vw;
    background-color: black;
    box-sizing: border-box;
    border: 0.8vw solid white;
    width: 35vw;
    height: 12vw;
    border-radius: 4vw;
    transition: 0.1s;
}
#console .home button:active {
    background-color: white;
    color: black;
}
#console .dungeon {
    display: none;
    position: relative;
}
#console .dungeon button {
    position: absolute;
    font-size: 3.5vw;
    background-color: black;
    box-sizing: border-box;
    border: 0.8vw solid white;
    width: 35vw;
    height: 12vw;
    border-radius: 4vw;
    transition: 0.1s;
}
#console .dungeon button:active {
    background-color: white;
    color: black;
}
#console .dungeon .run,
#console .dungeon .attack {
    display: none;
}
#console .dungeon .explore,
#console .dungeon .attack {
    top: 25vw;
    left: 10vw;
}
#console .dungeon .escape,
#console .dungeon .run {
    top: 25vw;
    right: 10vw;
}
#console .dungeon .healthBar {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vw;
    box-sizing: border-box;
}
#console .dungeon .healthBar .playerHP {
    width: 60%;
    height: 4vw;
    box-sizing: border-box;
    border: 0.8vw solid white;
    background-color: red;
    border-radius: 5vw;
}
#console .dungeon .healthBar .playerHP .bar {
    background-color: lime;
    width: 100%;
    height: 100%;
    border-radius: 1vw;
    transition: 0.5s;
}
#console .dungeon .healthBar p {
    box-sizing: border-box;
    display: block;
    max-width: 20%;
    margin: 0.5%;
    font-size: 3.5vw;
    text-align: center;
}
#console .dungeon .RPS {
    width: 100%;
    height: 30vw;
    box-sizing: border-box;
    display: none;
    align-items: center;
    justify-content: space-around;
}
#console .dungeon .RPS div {
    display: flex;
    flex-direction: column;
    font-size: 3.5vw;
    align-items: center;
    justify-content: space-between;
    width: 20vw;
    height: 20vw;
}
#console .dungeon .RPS .box {
    box-sizing: border-box;
    width: 20vw;
    height: 20vw;
    border: 0.8vw solid white;
    border-radius: 25%;
}
#console .dungeon .RPS .box:active {
    background-color: white;
}
#console p {
    box-sizing: border-box;
    font-size: 4.5vw;
    width: 100%;
    padding: 8%;
}
#console button {
    position: absolute;
    font-size: 3.5vw;
    background-color: black;
    box-sizing: border-box;
    border: 0.8vw solid white;
    width: 30vw;
    height: 10vw;
    border-radius: 2.5vw;
}
#right {
    display: none;
    overflow: auto;
}
#right .shop {
    display: none;
    flex-direction: column;
    box-sizing: border-box;
}
#right .shop span:nth-child(1) {
    box-sizing: border-box;
    display: flex;
    position: sticky;
    top: 0%;
    align-items: center;
    font-size: 3vw;
    width: 100%;
    height: 10vw;
    padding-left: 5%;
    background-color: black;
}
#right .shop span:nth-child(1) img {
    box-sizing: border-box;
    height: 10vw;
    width: 10vw;
    padding: 2vw;
}
#right .block {
    font-size: 3vw;
    box-sizing: border-box;
    padding: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#right .block h3 {
    font-size: 4.5vw;
}
#right .block img {
    width: 13vw;
    height: 13vw;
    border: 0.8vw solid white;
    border-radius: 25%;
}
#right .block .desc {
    box-sizing: border-box;
    width: 100%;
    margin-left: 10%;
    overflow: auto;
}

#right .inventory {
    display: none;
    flex-direction: column;
    box-sizing: border-box;
}

#right .inventory .block {
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

#right .inventory .block .wrp1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#right .inventory .block .wrp2 {
    position: relative;
    width: 100%;
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2vw;
}
#right .inventory .block .wrp2 button {
    font-size: 4.5vw;
    width: 20vw;
    height: 10vw;
    border: 0.8vw solid white;
    border-radius: 2vw;
    background-color: black;
}
#right .inventory .block .wrp2 button:nth-child(3) {
    border: none;
    width: auto;
    height: auto;
    position: absolute;
    right: 2vw;
}

.btn img {
    width: 9vw;
}
#filler {
    width: 10vw;
    height: 10vw;
    order: 99999999999;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 800px) {
    /* default setings */
    header {
        width: 100%;
        min-height: 4vw;
        font-size: 1.2vw;
    }
    #information {
        box-sizing: border-box;
        position: absolute;
        top: -6vw;
        width: 70%;
        height: 70%;
        overflow-y: auto;
        overflow-x: hidden;
        margin: 15%;
        z-index: 99;
        background-color: rgb(27, 27, 27);
        border: 0.4vw solid grey;
        padding: 4%;
        padding-top: 0%;
    }
    #information h1 {
        margin-top: 3vw;
        font-size: 1.8vw;
    }
    #information p {
        font-size: 1.4vw;
    }
    #information span {
        width: 3vw;
        height: 3vw;
        font-size: 3vw;
        border: 0.2vw solid white;
        top: 8vw;
        right: 14vw;
        padding-top: 0.3vw;
    }
    #body {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-rows: 50% 50%;
        height: 95vh;
    }
    #left {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column: 1;
        order: 1;
        display: block;
    }
    #right {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column: 3;
        order: 3;
        display: block;
    }
    /* left setings */

    #body .game {
        grid-column: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        min-height: 0vw;
    }
    #body .game span:nth-child(1) {
        width: 4vw;
        height: 4vw;
        font-size: 1.8vw;
    }
    #body .game span:nth-child(1) img {
        width: 4vw;
        height: 4vw;
        padding: 0.5vw;
    }
    #body .game .display {
        height: 30vw;
    }

    #body .game .btnWraper {
        display: none;
    }
    #body .game .btnWraperR {
        width: 6vw;
        height: 15vw;
        position: absolute;
        top: 10%;
        right: 3%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }
    #body .game .btnWraperL {
        width: 6vw;
        height: 15vw;
        position: absolute;
        top: 10%;
        left: 3%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }
    #body .game .enemy .enemyHP {
        border: 0.4vw solid white;
        width: 40%;
        height: 1vw;
    }
    #body .game .enemy .enemyHP .bar {
        width: 100%;
        height: 100.5%;
    }
    #body .game .enemy {
        top: 10vh;
    }
    /* body setings */
    #body .game .btnWraperL .btn {
        margin-left: -1vw;
    }
    #body .game .btnWraperR .btn {
        margin-left: 2vw;
    }
    #body .game .btnWraperL .btn,
    #body .game .btnWraperR .btn {
        box-sizing: border-box;
        margin-top: 0vw;
        width: 5vw;
        height: 5.5vw;
        flex-direction: column;
    }
    #body .game .btnWraperL .btn h2,
    #body .game .btnWraperR .btn h2 {
        font-size: 1.5vw;
        color: black;
        display: block;
        opacity: 0;
        transition: 0.5s;
    }
    #body .game .btnWraperR .btn img,
    #body .game .btnWraperL .btn img {
        border: 0.3vw solid white;
        background-color: black;
        border-radius: 25%;
        width: 3vw;
        height: 3vw;
        transition: 0.5s;
        padding: 0.1vw;
    }
    /* console setings */
    #console {
        display: block;
        grid-column: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        order: 3;
        box-sizing: border-box;
        border-top: 0.3vw solid rgb(43, 43, 43);
    }
    #console p {
        font-size: 1.5vw;
        padding: 2vw;
    }
    #console .home {
        height: 20vw;
    }
    #console .dungeon {
        height: 23.5vw;
    }
    #console .home button {
        font-size: 1vw;
        background-color: black;
        box-sizing: border-box;
        border: 0.3vw solid white;
        width: 11vw;
        height: 4vw;
        border-radius: 1vw;
        transition: 0.1s;
        top: 6vw;
    }
    #console .dungeon button {
        position: absolute;
        font-size: 1vw;
        background-color: black;
        box-sizing: border-box;
        border: 0.3vw solid white;
        width: 11vw;
        height: 4vw;
        border-radius: 1vw;
        transition: 0.1s;
    }
    #console .dungeon .explore,
    #console .dungeon .attack {
        top: 6vw;
        left: 3vw;
    }
    #console .dungeon .escape,
    #console .dungeon .run {
        top: 6vw;
        right: 3vw;
    }
    #console button {
        border: 0.3vw solid white;
        font-size: 1.5vw;
        width: 9vw;
        height: 3vw;
    }
    #console .dungeon .healthBar {
        height: 6vw;
    }
    #console .dungeon .healthBar p {
        font-size: 1.5vw;
        width: 20%;
    }
    #console .dungeon .healthBar .playerHP {
        border: 0.3vw solid white;
        height: 1vw;
        width: 60%;
    }
    #console .dungeon .RPS {
        height: 14vw;
    }
    #console .dungeon .RPS div {
        width: 8vw;
        height: 8vw;
        font-size: 1.5vw;
    }
    #console .dungeon .RPS .box {
        width: 8vw;
        height: 8vw;
        border: 0.3vw solid white;
    }
    /* left setingss */
    #left {
        box-sizing: border-box;
        border-right: 0.3vw solid rgb(43, 43, 43);
    }
    #left .equipment {
        display: none;
        height: 100%;
    }
    #left .equipment h2 {
        font-size: 1vw;
    }
    #left .equipment img {
        width: 4vw;
        height: 4vw;
        border: 0.3vw solid white;
    }
    #left .equipment .item {
        width: 6vw;
        height: 6vw;
    }
    #left .equipment .weapon {
        width: 8vw;
        height: 8vw;
    }
    #left .equipment .weapon img {
        width: 8vw;
        height: 8vw;
        border: 0.3vw solid white;
    }

    #left nav {
        display: none;
    }
    #left nav h4 {
        font-size: 1.5vw;
        margin-top: 2vw;
    }
    #left nav .about {
        font-size: 2vw;
        padding-top: 0vw;
    }
    #left nav .credit {
        font-size: 2vw;
        padding-top: 5vw;
    }
    #left nav p {
        margin-top: 1vw;
        margin-left: 1.5vw;
        font-size: 1.2vw;
    }
    #left nav ul {
        margin-top: 1vw;
        margin-left: 3vw;
        font-size: 1vw;
    }
    /* right setings */
    #right {
        box-sizing: border-box;
        border-left: 0.3vw solid rgb(43, 43, 43);
    }
    #right .shop {
        display: none;
    }
    #right .inventory {
        display: none;
    }
    #right .block img {
        width: 4vw;
        height: 4vw;
        border: 0.3vw solid white;
    }
    #right .shop span:nth-child(1) {
        height: 4vw;
        font-size: 1.8vw;
    }
    #right .shop span:nth-child(1) img {
        height: 4vw;
        width: 4vw;
        padding: 0.5vw;
    }
    #right .block .desc h3 {
        font-size: 1.8vw;
    }
    #right .block .desc {
        box-sizing: border-box;
        width: 100%;
        margin-left: 10%;
        font-size: 1vw;
    }
    #right .block span {
        font-size: 1vw;
    }
    #right .inventory .block .wrp2 button {
        font-size: 1.5vw;
        width: 7vw;
        height: 3vw;
        border: 0.3vw solid white;
        border-radius: 2vw;
        background-color: black;
    }
    #right .inventory .block .wrp1 {
        width: 100%;
    }
    #right .inventory .block .wrp2 button:nth-child(3) {
        border: none;
        width: 2vw;
        height: 2vw;
        position: absolute;
        right: 0%;
    }
    #filler {
        width: 4vw;
        height: 4vw;
        order: 99999999999;
    }
}
