*{
    padding: 0%;
    margin: 0%;
    color: white;
}

body{
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header{
    font-size: 3vw;
    width: 100%;
    min-height: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-bottom: 0.3vw solid rgb(43, 43, 43);
}

#body{
    width: 100%;
    height: 91.5vh;
    display: flex;
    flex-direction: column;
}

#body .wrap{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#body .game{
    position: relative;
    background-color: rgb(32, 32, 32);
    width: 100%;
    min-height: 73vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
#body .game .display{
    height: 73vw;
}

#body .game .btnWraper{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    bottom: 5%;
}
#body .game .enemy .enemyHP{
    overflow: hidden;
    background-color: red;
    border: 0.8vw solid white;
    border-radius: 2vw;
    width: 40%;
    height: 3vw;
    margin-bottom: 1vw;
    box-sizing: border-box;
}
#body .game .enemy .enemyHP .bar{
    background-color: lime;
    width: 100.5%;
    height: 100.5%;
    border-radius: 1vw;
}
#body .game .enemy{
    display: none;
    flex-direction: column;
    position: absolute;
    align-items: center;
    width: 100%;
    top: 15vw;
}
#body .game .enemy .monster{
    max-width: 40%;
}
#body .btn{
    width: 12vw;
    height: 12vw;
    background-color: black;
    border: 0.8vw solid white;
    border-radius: 25%;
    transition: 0.5s;
}

#left, #console, #right{
    width: 100%;
    height: 100%;
    max-height: 100%;
}

#left{
    display: none;
    overflow: auto;
}
#left nav{
    display: none;
    box-sizing: border-box;
    padding: 10%;
    overflow: auto;
}
#left nav h1{
    font-size: 8vw;
    text-align: center;
}
#left nav h4{
    font-size: 5vw;
    margin-top: 2vw;
}
#left nav .about, #left nav .credit{
    font-size: 6vw;
    padding-top: 9vw;
}
#left nav p{
    margin-top: 2vw;
    margin-left: 5vw;
    font-size: 5vw;
}
#left nav ul{
    margin-top: 2vw;
    margin-left: 10vw;
    font-size: 5vw;
}

#left .equipment{
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vw;
}

#left .item{
    width: 12vw;
    height: 12vw;
    border: 0.8vw solid white;
    border-radius: 25%;
    position: absolute;
}
#left .weapon{
    width: 25vw;
    height: 25vw;
    border: 0.8vw solid white;
    border-radius: 25%;
}
#left .head{
    top: 13%;
    left: 13%;
}
#left .body{
    bottom: 13%;
    left: 13%;
}
#left .gloves{
    bottom: 13%;
    right: 13%;
}
#left .boots{
    top: 13%;
    right: 13%;
}

#console{
    width: 100%;
    height: 100%;
    display: none;
    overflow: auto;
}
#console .home{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 70vw;
}
#console .home button{
    font-size: 4vw;
    background-color: black;
    box-sizing: border-box;
    border: 0.8vw solid white;
    width: 35vw;
    height: 12vw;
    border-radius: 4vw;
    transition: 0.1s;
}
#console .home button:active{
    background-color: white;
    color: black;
}
#console .dungeon{
    display: none;
    position: relative;
}
#console .dungeon button{
    position: absolute;
    font-size: 4vw;
    background-color: black;
    box-sizing: border-box;
    border: 0.8vw solid white;
    width: 35vw;
    height: 12vw;
    border-radius: 4vw;
    transition: 0.1s;
}
#console .dungeon button:active{
    background-color: white;
    color: black;
}
#console .dungeon .run , #console .dungeon .attack{
    display: none;
}
#console .dungeon .explore , #console .dungeon .attack{
    top: 25vw;
    left: 10vw;
}
#console .dungeon .escape , #console .dungeon .run{
    top: 25vw;
    right: 10vw;
}
#console .dungeon .healthBar{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vw;
    box-sizing: border-box;
}
#console .dungeon .healthBar .playerHP{
    width: 60%;
    height: 4vw;
    box-sizing: border-box;
    border: 0.8vw solid white;
    background-color: red;
    border-radius: 5vw;
}
#console .dungeon .healthBar p{
    display: block;
    max-width: 20%;
    margin: 0.5%;
    font-size: 4vw;
    text-align: center;
}
#console .dungeon .RPS{
    width: 100%;
    height: 30vw;
    box-sizing: border-box;
    display: none;
    align-items: center;
    justify-content: space-around;
}
#console .dungeon .RPS .box{
    box-sizing: border-box;
    width: 20vw;
    height: 20vw;
    border: 0.8vw solid white;
    border-radius: 25%;
}
#console p{
    box-sizing: border-box;
    font-size: 5vw;
    width: 100%;
    padding: 8%;
}
#console button{
    position: absolute;
    font-size: 5vw;
    background-color: black;
    box-sizing: border-box;
    border: 0.8vw solid white;
    width: 30vw;
    height: 10vw;
    border-radius: 2.5vw;
}




#right{
    display: none;
    overflow: auto;
}
#right .shop{
    display: none;
    flex-direction: column;
    box-sizing: border-box;
}
#right .block{
    font-size: 5vw;
    box-sizing: border-box;
    padding: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#right .block img{
    width: 13vw;
    height: 13vw;
    border: 0.8vw solid white;
    border-radius: 25%;
}
#right .block .desc{
    box-sizing: border-box;
    width: 100%;
    margin-left: 10%;
    overflow: auto;
}

#right .inventory{
    display: none;
    flex-direction: column;
    box-sizing: border-box;
}

#right .inventory .block{
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

#right .inventory .block .wrp1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#right .inventory .block .wrp2{
    position: relative;
    width: 100%;
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2vw;
}
#right .inventory .block .wrp2 button{
    font-size: 5vw;
    width: 20vw;
    height: 10vw;
    border: 0.8vw solid white;
    border-radius: 2vw;
    background-color: black;
}
#right .inventory .block .wrp2 button:nth-child(3){
    border: none;
    width: auto;
    height: auto;
    position: absolute;
    right: 2vw;
}


.btn img{
    width: 9vw;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 1024px) {
    /* default setings */
    header{
        width: 100%;
        min-height: 4vw;
        font-size: 1.2vw;
    }
    #left{
        min-width: 26%;
        height: 100%;
        order: 1;
        display: block;
    }
    #right{
        min-width: 26%;
        height: 100%;
        order: 3;
        display: block;
    }
    /* left setings */
    #body{
        flex-direction: row;
        justify-content: center;
    }
    #body .wrap{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        min-width: 46%;
        max-width: 46%;
        height: 100%;
        overflow: hidden;
        order: 2;
    }
    #body .wrap .game{
        min-width: 100%;
        min-height: 30vw;
    }
    #body .game .display{
        height: 30vw;
    }
    
    #body .game .btnWraper{
        display: none;
    }
    #body .game .btnWraperR{
        width: 5vw;
        height: 12vw;
        position: absolute;
        top: 10%;
        right: 1%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #body .game .btnWraperL{
        width: 5vw;
        height: 12vw;
        position: absolute;
        top: 10%;
        left: 1%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    /* body setings */
    #body .game .btnWraperL .btn, #body .game .btnWraperR .btn{
        width: 5vw;
        height: 5vw;
        border: 0.4vw solid white;
    }
    #body .game .btnWraperR .btn img, #body .game .btnWraperL .btn img{
        width: 4vw;
        height: 4vw;
    }
    /* console setings */
    #console{
        display: block;
        width: 100%;
        height: 100%;
    }
    #console p{
        font-size: 1.8vw;
        padding: 2vw;
    }
    #console .home{
        min-height: 23.5vw;
    }
    #console .dungeon{
        min-height: 23.5vw;
    }
    #console .home button{
        font-size: 1.5vw;
        background-color: black;
        box-sizing: border-box;
        border: 0.3vw solid white;
        width: 15vw;
        height: 5vw;
        border-radius: 1.8vw;
        transition: 0.1s;
    }
    #console .dungeon button{
        position: absolute;
        font-size: 1.5vw;
        background-color: black;
        box-sizing: border-box;
        border: 0.3vw solid white;
        width: 15vw;
        height: 5vw;
        border-radius: 1.8vw;
        transition: 0.1s;
    }
    #console .dungeon .explore , #console .dungeon .attack{
        top: 8vw;
        left: 6vw;
    }
    #console .dungeon .escape , #console .dungeon .run{
        top: 8vw;
        right: 6vw;
    }
    #console button{
        border: 0.3vw solid white;
        font-size: 1.5vw;
        width: 10vw;
        height: 4vw;
    }
    /* left setingss */
    #left .equipment{
        display: none;
        height: 100%;
    }
    #left .item{
        width: 4vw;
        height: 4vw;
        border: 0.3vw solid white;
    }
    #left .weapon{
        width: 8vw;
        height: 8vw;
        border: 0.3vw solid white;
    }

    #left nav{
        display: none;
    }
    #left nav h4{
        font-size: 1.5vw;
        margin-top: 2vw;
    }
    #left nav .about{
        font-size: 2vw;
        padding-top: 0vw;
    }
    #left nav .credit{
        font-size: 2vw;
        padding-top: 5vw;
    }
    #left nav p{
        margin-top: 2vw;
        margin-left: 1.5vw;
        font-size: 1.5vw;
    }
    #left nav ul{
        margin-top: 2vw;
        margin-left: 3vw;
        font-size: 1.5vw;
    }
    /* right setings */
    #right .shop{
        display: none;
    }
    #right .inventory{
        display: none;
    }
    #right .block img{
        width: 4vw;
        height: 4vw;
        border: 0.3vw solid white;
    }
    #right .block .desc{
        box-sizing: border-box;
        width: 100%;
        margin-left: 10%;
        font-size: 1.5vw;
    }
    #right .block span{
        font-size: 1.5vw;
    }
    #right .inventory .block .wrp2 button{
        font-size: 1.5vw;
        width: 7vw;
        height: 3vw;
        border: 0.3vw solid white;
        border-radius: 2vw;
        background-color: black;
    }
    #right .inventory .block .wrp1{
        width: 100%
    }
    #right .inventory .block .wrp2 button:nth-child(3){
        border: none;
        width: 2vw;
        height: 2vw;
        position: absolute;
        right: 0%;
    }


}